

#Cards{
  display:flex;
  align-items:center;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 5px 5px 7px  grey;
  width:25%;
  margin-bottom:2%;
}

.imgCard{
  padding-top:5%;
  width:80%;
}

.titleCard{
  padding-left:5%;
  font-family:'Moon 2.0';
  font-weight:bold;
}

.textCard{
  padding-left:5%;
  padding-right:5%;
  font-family:'Moon 2.0';
  font-weight:normal;
}

.auteur{
  padding-left:5%;
  align-self: flex-start;
  font-family:'Moon 2.0';
  font-weight:normal;
}


#dateComLike{
  padding-left:5%;
  align-self:flex-start;
  display:inline-flex;
  justify-content:flex-start;
  justify-content:space-between;
}

.date{
  margin-top:0;
  font-family:'Moon 2.0';
  font-weight:normal;
  padding-right:10%;
}

.logoComLike{
  width:25%;
}
.comLike{
  display:flex;
  flex-direction:row;
  align-items:flex-start;
}
#compteurLike{
  font-family:'Moon 2.0';
  padding-left:15%;
  margin:0;
}
#compteurCom{
  font-family:'Moon 2.0';
  padding-left:15%;
  margin:0;
}
@media (max-width : 900px){
  #Cards{
    width:40%;
    margin-bottom:5%;
  }

@media (max-width:600px){
  #Cards{
    width:70%;
    margin-bottom:5%;
  }
}


