body{
  font-family:'Moon 2.0';
  font-weight:normal;
}
#title{
  font-weight:normal;
  font-size: 300%;
  padding-top: 13%;
  text-align: center;
}
#form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
/*les deux inputs*/
#inputs{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
/*input + label séparement*/
.inputLabel{
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  width:90%;
  padding-top:5%;
  padding-bottom:5%;
}

label{
  font-size:150%;
  padding-right:5%;
}
input{
  border:black 2px solid;
  font-size:150%;
  box-shadow:2px 2px black;
}

/*bouton submit*/
#submit{
  color:black;
  background-color: white;
  border:black 2px solid;
  padding:2%;
}
#submit:hover{
  color:white;
  background-color:black;
}
/*pas encore inscris ?*/
#pasInscris{
  padding-top:5%;
  color:black;
}
@media(max-width:700px){
  #title{
    padding-top:20%;
  }
}
