/*Import des fonts*/
@font-face{
  font-family:'Moon 2.0';
  src: local('Font/Moon2.0-Regular.woff') format('WebOpenFontFormat');
  font-weight:normal;
}
@font-face{
  font-family:'Moon 2.0';
  src: local('Font/Moon2.0-Bold.woff') format('WebOpenFontFormat');
  font-weight:bold;
}
@font-face{
  font-family:'Moon 2.0';
  src: local('Font/Moon2.0-Light.woff') format('WebOpenFontFormat');
  font-weight:lighter;
}
