#footer{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  align-items:center;
  background-color:#434343;
  height:100%;
  width:100%;
  margin-bottom:0;
}

#reseauxSociaux{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  width:20%;
  height:100%;
}
.img{
  padding-left:1%;
  margin-left:10%;
  width:8vh;
}

#contact{
  display:flex;
  width:60%;
  justify-content:center;
  align-items:center;
  flex-direction:row;
  height:100%;
}
#imgContact{
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  width:50%;
}
#textContact{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  width:50%;
  padding-right:15%;
}

#politiquesConfidentialite{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:20%;
}


.imgMailPhone{
  width:7vh;
  padding-bottom:3%;
  padding-top:3%;
}
.textMailPhone{
  padding-left:3%;
  color:white;
  font-family:'Moon 2.0';
  font-size:120%;
  padding-bottom:2%;
  padding-top:2%;
}


#textPolitique{
  margin:0;
  padding-bottom:2%;
  color:white;
  font-family:'Moon 2.0';
  font-size:100%;
}

#copyright{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  width:100%;
}
#imgCopyright{
  padding-top:;
  width:2vh;
  height:5%;
  padding-right:1%;
}

@media (max-width:700px){
  #reseauxSociaux{
    padding-top:2%;
    padding-bottom:2%;
    width:100%;
    justify-content:center;
  }
  .img{
    padding-left:8%;
    padding-right:8%;
    margin:0;
  }
  #contact{
    padding-top:2%;
    padding-bottom:2%;
    width:100%;
  }
  #politiquesConfidentialite{
    width:100%;
  }
}
