

body{
  margin:0;
}

/*div principal du header*/
#header{
  display: flex;
  justify-content: space-between;
  width :100%;
  height:10%;
  background-color: black;
  position: fixed;
  top:0;
  padding-top:1%;
  padding-bottom:1%;
  z-index: 2000;
}

/*div 1 header LogoTuteo*/
#startNav{
  display:flex;
  align-items:center;
  padding-left:1%;
}
/*div 2 header Texte*/
#middleNav{
  display:flex;
  justify-content:space-around;
  align-items: center;
  width:70%;
}
/*div 3 header Logouser*/
#endNav{
  display:flex;
  align-items:center;
  padding-right:1%;
}
/*menu pour téléphone*/
#PhoneMenu{
  display:none;
  align-items:center;
  }
/*img appartenant à la div 3, LogoUser*/
#logoUser{
  height:10vh;
}
#logoPhone{
  height:10vh;
}
/*menu nav*/
.menu{
  color:white;
  text-decoration: none;
  font-family:'Moon 2.0';
  font-weight:lighter;
  font-size: 200%;
}
.menu:hover{
 opacity:50%;
}
/*Menu déroulant déclanché par le logouser*/
#menuDeroulant{
  position:fixed;
  display:none;
  flex-direction: column;
  padding:2%;
  padding-bottom:1%;
  margin-top:8vh;
  background-color:white;
  border:1px solid black;
  right:0;
  animation: apparitionMenu 0.5s;
  z-index:1000;
}
/*Bouton du menu déroulant*/
#boutonUser{
  font-family:'Moon 2.0';
  color: black;
  text-decoration:none;
  padding-top:40%;
  animation:apparitionMenu 0.5s;
  text-align: center;
  z-index:1000;

}
#boutonUser:hover{
  opacity: 50%;
}

#menuHamburger{
  position:fixed;
  display:none;
  flex-direction: column;
  align-items:center;
  padding:2%;
  padding-bottom:1%;
  margin-top:8vh;
  background-color:white;
  border:1px solid black;
  right:0;
  animation: apparitionMenu 0.5s;
  z-index:1000;

}
#navPhone{
  display:none;
  font-family:'Moon 2.0';
  color: black;
  text-decoration:none;
  padding-top:40%;
  animation:apparitionMenu 0.5s;
  z-index:1000;
}
#navPhone:hover{
  opacity:50%;
}

/*ANIMATION */

@keyframes apparitionMenu{

  from{
    margin:0;
    opacity:0%;
  }
}

@keyframes disparitionMenu{
  to{
    margin:0;
    opacity:0%;
  }
}

/*RESPONSIVE*/

@media(max-width:700px){

  #middleNav{
    display:none;
  }
  #endNav{
    display:none;
  }
  #menuDeroulant{
    display:none;
  }
  #boutonUser{
    display:none;
  }
  #PhoneMenu{
    display:flex;
  }
  #navPhone{
    display:flex;
  }

}
