
body{
  margin:0;
}
/*Image d'accueil du site*/
#divTitle{
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}
#imgTitle{
  width:100%;
}
#Title{
  position:absolute;
  padding-top:5%;
  color:white;
  font-family:'Moon 2.0';
  font-weight: bold;
  font-size:400%;
  z-index:200;
}

.mediumTitle{
  padding-top:2%;
  font-family:'Moon 2.0';
  font-weight:normal;
  font-size:200%;
  text-align:center;
}

#cards{
  padding-top:2%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap: wrap;
}

#divBtn{
  display:flex;
  justify-content:center;
  padding-top:3%;
}
#btnVoirPlus{
  font-family:'Moon 2.0';
  font-size:150%;
  color:white;
  padding:1%;
  border-radius:15px;
  background-color:black;
}

#firstContent{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:flex-end;
  padding-right:5%;
}
.categorie{
  display:flex;
  flex-direction:row;
  padding-top:5%;
  padding-left:2%;
  align-items:center;
}
.categoTitle{
  font-family:'Moon 2.0';
  font-weight:normal;
  font-size:300%;
  margin-bottom:0;
}
.categoTexte{
  font-family:'Moon 2.0';
  font-weight:normal;
  font-size:200%;
}
#TitleAndText{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:60%;
}


/*Responsive*/

@media(max-width:800px){
  #Title{
    font-size:200%;
  }
  .categoTitle{
    font-size:200%;
  }
  .categoTexte{
    font-size:150%;
  }
}


@media(max-width:550px){
  .categoTitle{
    font-size:120%;
  }
  .categoTexte{
    font-size:100%;
  }
}
