#main{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-family:'Moon 2.0';
  padding-top:10%;
}

#titre{
  font-weight: normal;
  text-align: center;
}

#infos{
  padding-top:2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:50%;
}

.info{
  display:flex;
  flex-direction:row;
  justify-content: center;
  font-size:150%;
}

@media(max-width:700px){
  #infos{
    align-items:center;
    width:100%;
  }
  #main{
    padding-top:25%;
  }
}
@media(max-width:1000px){
   #main{
    padding-top:25%;
  }
}
